<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Table1</title>
</head>
<body>
	<table border="3px" cellpadding="20px" cellspacing="0px">
		<tr>
			<td rowspan="3">
				<p>J<br>a<br>v<br>a<br>s<br>c<br>r<br>i<br>p<br>t<br> </p>
			</td>
		</tr>
		<tr>
			<td>
				<h5>MERN</h5>
			</td>
		</tr>
		<tr>
			<td>
				<table border="3px" cellspacing="0px" cellpadding="5px">
					<tr>
						<td>
							<p>Mongo DB</p>
						</td>
						<td>
							<p>
								Express JS
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<p>React Js</p>
						</td>
						<td>
							<p>Node Js</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>